html, body {
	background-color: #EBF0F3;
	color: #000;
}

a {
	color: #3B5B2B;
}

a:hover {
	color: #65A443;
}

#mainwrap {
	width: 80%;
	margin: 2vh auto;
	background-color: #DADED4;
	min-height: 96vh;
	border: 2px solid #777;
	border-radius: 15px;
	position: relative;
}

#logo {
	text-align: center;
	padding: 40px 0;	
}

#logo > img {
	width: 90%;
	max-width: 400px;
}

.login-container {
	text-align: center;
}

#tab-wrap {
	margin: 40px auto 0;
}

.nav-tabs > li {
	display: inline-block;
	float: none;
}

.tab-content {
	max-width: 500px;
	padding: 40px 0;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #bbb;
}

.login-input {
	width: 80%;
	margin-bottom: 15px;
	padding-left: 5px;
}

.login-input.error, .item-due-input.error {
	border: 2px inset #DF001A;
	background-color: #FEE8EA;
}

.login-submit {
	background-color: #fff;
	color: #65A443;
	border: 1px solid #000;
	font-weight: bold;
	padding: 3px 20px;
}

.login-submit:hover {
	background-color: #65A443;
	color: #fff;
}

.error-message {
	opacity: 0;
	color: #DF001A;
	padding-bottom: 15px;
	transition: 0.5s all;
}

.error-message.show {
	opacity: 1;
}

#header {
	margin-bottom: 40px;
	z-index: 100;
}

#hlogo {
	padding: 10px 30px 0 0;
	text-align: right;
}

#hlogo > img {
	width: 80%;
	max-width: 200px;
}

#top-text {
	font-size: 16pt;
	padding: 30px 0 5px 50px;
}

#top-links {
	padding-left: 50px;
}

#settings-link {
	cursor: pointer;
}

#viewwrap {
	height: 81vh;
	background-color: #fff;
	border-radius: 0 0 15px 15px;
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.views {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(255, 255, 255, 1);
	overflow-y: auto;
	transform: scale(1.0);
	opacity: 1.0;
	transition: 0.8s all ease-in-out, background-color 1.5s, opacity 1.5s;
}

#mainview {
	z-index: 1;
}

.views.vhide {
	transform: scale(0.8);
	opacity: 0.5;
	background-color: rgba(255, 255, 255, 0);
}

#leftview.vhide {
	left: -100%;
}

#rightview.vhide {
	left: 100%;
}

#topview.vhide {
	top: -100%;
}

#leftview > .container-fluid, #rightview > .container-fluid, #topview > .container-fluid {
	margin-top: 100px;
}

#new-item-btn {
	float: right;
	margin: 10px 50px;
	padding: 7px 20px;
	font-weight: bold;
	font-size: 12pt;
	color: #65A443;
	border: 2px solid #65A443;
	background-color: #fff;
	cursor: pointer;
}

#new-item-btn:hover {
	color: #fff;
	background-color: #65A443;
}

#mainview > .container-fluid {
	padding-top: 40px;
}

.item-head {
	margin-top: 20px;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	color: #555;
	background-color: #ddd;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.item-head > div {
	padding: 10px 0;
}

.item-head > div:first-child {
	border-right: 1px solid #000;
}

.item-head > div:last-child {
	border-left: 1px solid #000;
}

.empty-row {
	text-align: center;
	padding: 10px 0;
	font-size: 14pt;
}

.close-btn {
	float: right;
	margin: 10px 50px;
	padding: 7px 20px;
	font-weight: bold;
	font-size: 12pt;
	color: #866565;
	border: 2px solid #866565;
	background-color: #fff;
	cursor: pointer;
}

.top-submit {
	float: left;
	margin: 10px 50px;
	padding: 7px 20px;
	font-weight: bold;
	font-size: 12pt;
	color: #65A443;
	border: 2px solid #65A443;
	background-color: #fff;
	cursor: pointer;
}

.close-btn:hover {
	background-color: #866565;
	color: #fff;
}

.top-submit:hover {
	background-color: #65A443;
	color: #fff;
}

.messagewrap {
	position: absolute;
	top: 115px;
	text-align: center;
	width: 100%;
	z-index: 200;
	pointer-events: none;
}

.message-box {
	padding: 5px 0;
	opacity: 0;
	transition: 0.5s all;
}

.message-box.show {
	opacity: 1;
}

#success-box {
	background-color: #EEFFEB;
	color: #0F6500;
	border: 1px solid #0F6500;
	font-size: 14pt;
}

#error-box {
	background-color: #FFEBEE;
	color: #DF001A;
	border: 1px solid #DF001A;
}

.item-label {
	font-size: 14pt;
	text-align: center;
}

.item-text {
	width: 80%;
	resize: none;
}

.item-radios {
	font-size: 14pt;
}

input[type=radio] {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}

input[type=radio] + label {
	display: inline-block;
	margin-left: -2em;
	line-height: 1.53em;
	font-size: 12pt;
	font-weight: normal;
}

input[type=radio] + label > span {
 	display: inline-block;
  	width: 0.875em;
  	height: 0.875em;
  	margin: 0.25em 0.5em 0.25em 0.25em;
  	border: 0.0625em solid rgb(192,192,192);
  	border-radius: 0.25em;
  	background: rgb(224,224,224);
  	background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	vertical-align: bottom;
}

input[type=radio].inrow {
	width: auto;
}

input[type=radio].inrow + label > span {
	vertical-align: middle;
}

input[type=radio]:checked.radio-false + label > span {
	background: #030EA9;
	border-color: #030EA9;
}

input[type=radio]:checked + label > span:before {
  	content: '✓';
  	display: block;
	margin-left: -0.1em;
  	color: rgb(101,164,67);
  	font-size: 1.8em;
  	line-height: 0.3em;
  	text-align: center;
  	text-shadow: 0 0 0.0714em rgb(115,153,77);
  	font-weight: bold;
}

input[type=radio]:checked.radio-false + label > span:before {
  	content: none;
}

#item-edit > .container-fluid {
	clear: both;
	padding-top: 50px;
}

.item-row {
	border-bottom: 1px solid #777;
	cursor: pointer;
	font-size: 11pt;
}

.item-row:hover {
	background-color: #E4FFD5;
}

.item-row > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.item-row > div:first-child {
	border-right: 1px solid #777;
}

.item-row > div:last-child {
	border-left: 1px solid #777;
	padding-bottom: 2px;
}

.item-row > .col-xs-3, .item-row > .col-xs-2 {
	text-align: center;
}

.modal {
	top: 200px;
}

.col-md-3 > .top-submit {
	margin: 0;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

#item-edit-add-tag {
	display: inline-block;
	margin: 0 15px;
	padding: 0 5px;
	font-size: 21pt;
	line-height: 1.0em;
	border: 1px;
	border: 2px solid #65A443;
	color: #65A443;
	cursor: pointer;
}

#item-edit-add-tag:hover {
	background-color: #65A443;
	color: #fff;
}

#item-edit-add-tag.disabled {
	border: 2px solid #999;
	color: #999;
	cursor: default;
}

#item-edit-add-tag.disabled:hover {
	background-color: #fff;
	color: #777;
}

.tag {
	float: left;
	margin-right: 10px;
	border: 1px solid #777;
	padding: 2px 10px;
	background-color: #EAFFE6;
}

.tagdel {
	margin-left: 9px;
	padding: 0 3px;
	color: #DF001A;
	background-color: #FFDCDF;
	cursor: pointer;
}

@media (max-width: 768px) {
	.messagewrap {
		top: 195px;
	}
}